<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    
<div id="top-nav">
    
    <a class="builder-link" href="{{url_for('index')}}">Home</a>
    <a class="builder-link" href="{{url_for('tabelBulder')}}">Table builder (Drag & Drop)</a>
    <a class="builder-link" href="{{url_for('textBuilder')}}">Table builder (Text)</a>
    <a class="builder-link" href="{{url_for('quizzesLanding')}}">Quizzes</a>
</div>
    {% block content %}
        
    {% endblock content %}
</body>
{% block scripts %}
    
{% endblock scripts %}
</html>